Language: Cpp
BasedOnStyle: Chromium
AccessModifierOffset: -4
AlignOperands: false
AllowShortFunctionsOnASingleLine: All
AllowAllConstructorInitializersOnNextLine: false
BreakConstructorInitializers: "BeforeComma"
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: "Attach"
SortIncludes: CaseInsensitive
CommentPragmas: '^\\.+'
CompactNamespaces: true
ColumnLimit: 120
FixNamespaceComments: true
IndentCaseLabels: false
IndentWidth: 4
MaxEmptyLinesToKeep: 2
PointerAlignment: "Left"
SpacesInAngles: 'false'
SpacesBeforeTrailingComments: 1
TabWidth: 4
UseTab: Never
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
PenaltyReturnTypeOnItsOwnLine: 1000